/** @format */

@font-face {
  font-family: "Yekan";
  src: url("./Yekan.woff") format("woff");
}

* {
  text-align: right;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yekan", sans-serif;
  direction: rtl;
  line-height: 1.7;
  font-size: 40px;
  background-color: #f0f1f4;
}

h1 {
  text-align: center;
  font-size: 1em;
  font-weight: 1000;
  color: #364163;
}

h2 {
  font-size: 0.9em;
  font-weight: 600;
  color: #2533cc;
}

p {
  text-align: justify;
  font-size: 0.8em;
}

.b {
  color: rgb(100, 100, 100);
  position: absolute;
  left: 10px;
  bottom: 10px;
}

ul {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
  margin: 0 25px;
  font-size: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}
.j {
  font-size: 0.6em;
  color: rgb(100, 100, 100);
}
.div-h1-h2 {
  display: flex;
  align-items: baseline;
}
.morefi {
  width: 310px;
  height: 141px;
  white-space: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
.asli {
  background-color: #fff;
  border: 1px solid #fff;
  height: 100%;
  padding: 5px 10px;
  margin: 25px 100px;
  border-radius: 10px;
}
.faasl-box {
  border: 1px solid #364163;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
  width: 310px;
  height: 250px;
  position: relative;
}

@media (max-width: 900px) {
  .asli {
    margin: 10px 25px;
  }
  .faasl-box {
    width: 280px;
  }
  .morefi {
    width: 280px;
  }
}
