/** @format */

@font-face {
  font-family: "Yekan";
  src: url("./Yekan.woff") format("woff");
}

* {
  text-align: right;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yekan", sans-serif;
  direction: rtl;
  line-height: 1.7;
  font-size: 30px;
  background-color: #f0f1f4;
}
article {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 70px 100px;
  border-radius: 10px;
}
div {
  padding: 5px 10px;
}

h1 {
  font-size: 1em;
  font-weight: 1000;
  color: #364163;
}
.navbar-h1 {
  color: white;
  font-size: 1.2em;
  font-weight: 1000;
}
h2 {
  font-size: 0.9em;
  font-weight: 600;
  color: #2533cc;
}

h3 {
  font-size: 0.7em;
  font-weight: 300;
}

p {
  padding: 0 15px;
  text-align: justify;
  font-size: 0.5em;
}

ul {
  text-align: justify;
}

li {
  list-style: arabic-indic;
  margin: 0 25px;
  font-size: 0.5em;
}
.mozo {
  display: flex;
  justify-content: center;
}

b {
  font-weight: bold;
}
.m-list {
  margin-top: 10px;
  border: 1px solid #364163;
  background-color: #f5f5f5;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.m1 {
  display: flex;
}
.m2 {
  display: flex;
}
.all-box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 90px;
}
.box {
  margin: 10px auto;
  padding: 5px 5px;
  width: 300px;
  border-radius: 10px;
}
.nav-box-list {
  background-color: #fff;
  margin: 20px 100px;
  padding: 5px 10px;
  border-radius: 10px;
}
.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0;
}
.titr-img {
  height: 85%;
  width: 85%;
}
.nav-ul {
  display: flex;
  justify-content: center;
}
.nav-li {
  font-size: 0.7em;
  font-weight: 600;
  color: #2533cc;
  list-style: none;
  height: 40px;
}

@media (max-width: 700px) {
  .mozo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .m1 {
    display: flex;
    flex-wrap: wrap;
  }
  .m2 {
    display: flex;
    flex-wrap: wrap;
  }
  .m2-img {
    display: none;
  }
  .m-list {
    width: 100%;
  }
  .all-box {
    padding: 10px 20px;
  }
  .box {
    width: 100%;
  }
  article {
    margin: 70px 20px;
  }
  .nav-box-list {
    margin: 15px 20px;
  }
  .nav-li {
    padding: 0;
    margin: 0 10px;
    font-size: 0.5em;
    font-weight: 300;
  }
  #m10 {
    height: 15%;
  }
  .titr-img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .m2 {
    display: flex;
    flex-wrap: wrap;
  }
  .m-list {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .m2-img {
    width: 100%;
  }
  article {
    margin: 25px 20px;
  }
  .nav-box-list {
    margin: 15px 20px;
  }
  #m10 {
    height: 15%;
  }
  .titr-img {
    height: 100%;
    width: 100%;
  }
}
a {
  color: black;
  text-decoration: none;
}
.soal {
  border: 1px solid black;
}
a:hover {
  color: #2533cc;
}
.h-box {
  font-size: 0.6em;
  font-weight: 900;
  padding: 10px;
  margin: 0;
  height: 10%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #364163;
}
